@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
}
/* shared style */
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 80px 0px 32px 0px;
}
.section-sub-title{
    font-size: 20px;
    color: #0e0e0ec1;
    font-weight: bold;
    margin: 24px 0 18px 0;
}
.section-measur{
    width: 1280px;
    height: 560px;
    margin: 0 auto;
}
.section-description{
    font-size: 16px;
    color: #0e0e0ea2;
    font-weight: 500;
    margin-top: 20px;
}
.btn{
    width: 120px;
    height: 40px;
    font-size: 20px;
    background-color: #5490F5;
    color: white;
}
.btn:hover{
    background-color: white;
    color: #006A50;
}
/* nav style */

.nav{
    width: 1600px;
    height: 100px;
    display: flex;
    padding: 30px 160px;
    justify-content: space-between;
    background-color: #F5F5F5;
    align-items: center;
}
.nav .home a{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #0E0E0E;
}
.sign-in a{
    border: 1px solid #006A50;
    color: #006A50;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.sign-in:hover{
    background-color: #006A50;
    color: white;
}

/* banner style */

.banner-items{
    
    background-color: #C6E4D6;
    margin: 0 auto;
    border-radius: 24px;
    display: flex;
    align-items: center;
}
.banner-title{
    width: 622px;
    height: 326px;
    padding: 115px 60px;
}
.banner-title p{
    font-size: 24px;
    color: #0e0e0eb6;
    font-weight: 500;
    margin-bottom: 10px;
}
.banner-title h1{
    font-size: 56px;
    font-weight: bold;
    color: black;
}
.btn{
    background-color: #006A50;
    color: white;
    width: 270px;
    height: 56px;
    border: none;
    margin-top: 24px;
    font-size: 18px;
    font-weight: bold;
}
.btn:hover{
    background-color: white;
    color: #006A50;
    cursor: pointer;
}

/* pillars of bangladesh style */

.devolop-of-bd{
    width: 1280px;
    height: 324px;
    margin: 0px auto;
}
.devolop-items{
    display: flex;
    gap: 24px;
}
.devolop-item{
    padding: 24px;
    background-color: white;
    border-radius: 16px;
}
.devolop-item h4{
    font-size: 20px;
    color: #0e0e0ec1;
    font-weight: bold;
    margin: 24px 0 18px 0;
}


/* vision of future style */

.plan-items{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.plan-item p{
    margin-top: 20px;
}
.plan-item{
    padding: 32px;
    border-radius: 16px;
}
.color-yellow{
    background-color: #F7EBCF;
}
.color-blue{
    background-color: #548ff55e;
}
.color-green{
    background-color: #C6E4D6;
}
/* .learn-btn{
    width: 120px;
    height: 40px;
    font-size: 20px;
} */