@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}
/* shared style */
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 80px 0px 32px 0px;
}
.section-sub-title{
    font-size: 20px;
    color: #0e0e0ec1;
    font-weight: bold;
    margin: 24px 0 18px 0;
}
.section-measur{
    width: 1280px;
    height: 560px;
    margin: 0 auto;
}
.section-description{
    font-size: 16px;
    color: #0e0e0ea2;
    font-weight: 500;
    margin-top: 20px;
}
.btn{
    background-color: #006A50;
    color: white;
    width: 122px;
    height: 41px;
    border: none;
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
.btn:hover{
    background-color: white;
    color: #006A50;
}
.text-align{
    text-align: center;
}
/* nav style */

.nav{
    width: 1600px;
    height: 100px;
    display: flex;
    padding: 30px 160px;
    justify-content: space-between;
    background-color: #F5F5F5;
    align-items: center;
    margin: 0 auto;
}
.nav .home a{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #0E0E0E;
}
.sign-in a{
    border: 1px solid #006A50;
    color: #006A50;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.sign-in:hover{
    background-color: #006A50;
    color: white;
}

/* banner style */

.banner-items{
    
    background-color: #C6E4D6;
    margin: 0 auto;
    border-radius: 24px;
    display: flex;
    align-items: center;
}
.banner-title{
    width: 622px;
    height: 326px;
    padding: 115px 60px;
}
.banner-title p{
    font-size: 24px;
    color: #0e0e0eb6;
    font-weight: 500;
    margin-bottom: 10px;
}
.banner-title h1{
    font-size: 56px;
    font-weight: bold;
    color: black;
}
.explore-btn{
    background-color: #006A50;
    color: white;
    width: 270px;
    height: 56px;
    border: none;
    margin-top: 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 17px;
    padding: 17px 27px;
}
.btn:hover{
    background-color: white;
    color: #006A50;
    cursor: pointer;
}

/* pillars of bangladesh style */

.devolop-of-bd{
    width: 1280px;
    height: 324px;
    margin: 0px auto;
}
.devolop-items{
    display: flex;
    gap: 24px;
}
.devolop-item{
    padding: 24px;
    background-color: white;
    border-radius: 16px;
}
.devolop-item h4{
    font-size: 20px;
    color: #0e0e0ec1;
    font-weight: bold;
    margin: 24px 0 18px 0;
}


/* vision of future style */

.plan-items{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.plan-item p{
    margin-top: 20px;
}
.blue-button{
    background-color: #5490F5;
}
.yellow-button{
    background-color: #FFC239;
}
.plan-item{
    padding: 32px;
    border-radius: 16px;
}
.color-yellow{
    background-color: #F7EBCF;
}
.color-blue{
    background-color: #548ff55e;
}
.color-green{
    background-color: #C6E4D6;
}

/* Dr. yunus status style */
.dr-yunus{
    background-image: url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-color: white;
    width: 1280px;
    height: 256px;
    margin: 0px auto;
    border-radius: 16px;
}
.about-yunus{
    padding: 24px;
   
}
.about-yunus p{
    font-size: 18px;
}
.yunus-status{
    font-size: 20px;
    color: #0e0e0ec1;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.yunus-sub-status{
    color: #0e0e0ea2;
    margin: 10px 0px 0px 0px ;
    font-size: 16px;
}

/* recent news style */
.recent-news{
    margin: 0 auto;
    width: 1280px;
}
.news-description{
    font-size: 16px;
    color: #0e0e0ea2;
    font-weight: 500;
    margin: 0 auto 20px; 
}
.recent-news-one{
    display: flex;
    height: 300px;
    width: 1280px;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px;
}
.news-images{
    border-radius: 24px;
}
.img-size img{
    width: 250px;
}
.news-block{
    margin-top: 24px;
}

/* donate part style */
.donate-part{
   width: 1280px;
   margin: 0 auto;
   
}

.donate-title h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
}
.donate-title p{
    padding: 0 100px;
}
.donate-title {
    text-align: center;
}
.amount-part{
    width: 1280px;
    margin: 32px auto;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.amount-part-one{
    height: 128px;
    width: 240px;
    background-color: white;
    border-radius: 16px;
}
.amount-part-two{
    height: 128px;
    width: 240px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.amount-part-two h1{
    font-size: 40PX;
    font-weight: bold;
    padding: 38px;
}
.amount-part-three{
    height: 128px;
    width: 240px;
    background-color: white;
    border-radius: 16px;
}
.amount-part-three h1{
    font-size: 40PX;
    font-weight: bold;
    padding: 38px;
}
.amount-part-three:hover{
    background-color:#C6E4D6 ;
}
.amount-part-four h1{
    font-size: 40PX;
    font-weight: bold;
    padding: 40px;
}
.amount-part-four{
    height: 128px;
    width: 240px;
    background-color: white;
    border-radius: 16px;
}
.amount-part-four:hover{
    background-color:#C6E4D6 ;
}
.amount-part-one:hover{
    background-color:#C6E4D6 ;
}
.amount-part-one h1{
    font-size: 40PX;
    font-weight: bold;
    padding: 40px;
}
.big-amount h1{
    padding: 40px 26px;
}
.input-taka{
    margin: 0px 124px;
    width: 1032px;
    height: 64px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.361);
    text-align: center;
    
}
.donate-btn{
    margin: 32px 0px 0 582px;
}

/* subscribe part style */

.subscribe-area{
    width: 750px;
    height: 235px;
}
.subscribe-part{
    width: 1280px;
    height: 395px;
    margin: 80px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 80px auto 0px auto;
}
.subscribe-part h1{
    font-size: 40px;
    font-weight: bold;
}
.subscribe-part p{
    padding-top: 16px;
    color: #0e0e0ec5;
}
.input-mail{
    display: flex;
    margin: 24px 0px;
}
.put-mail input{
    height: 56px;
    width: 560px;
    padding: 0px 0 0px 40px;
    border: none;
    
}
.subscribe-btn{
    height: 58px;
    width: 150px;
    background-color: #006A50;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
}
.subscribe-btn:hover{
    background-color: #146d5771;
    color: #ffffff;
    cursor: pointer;
}
/* main footter part style */

.main-footer{
    height: 226px;
    width: 1600px;
    background-color: white;
    margin: 80px auto 0px auto;
    padding-top: 50px;

}

.footer-title h1{
    margin: 0px auto 32px auto;
}
.footer-icon{
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footer-line{
    margin: 0px 238px;
}